*{
    padding: 0;
    margin:0;
}
body{
    background-image: url("373654.jpg"); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-size: cover;
    background-repeat:no-repeat;
    overflow: hidden;
    overflow: scroll;
}

a{
    text-decoration:none;
    color:white;
    font-size: 24px;
}
.header{
    top: 0;
    padding: 10px;
    position: fixed;
    height: 30px;
    width: 100%;
    background-color: rgb(51, 108, 158);
    text-decoration:none;
    
}
.container{
    margin:auto;
    margin-top: 55px;
    width:1000px;
    height:1000px;
    background-color: rgba(255,41,41);
    border-radius: 15px;
    padding:10px;
    font-size:26px;
    margin-bottom: 7px;
}
.questions{
    width: 1000px;
    height: 700px;
    background-color: aliceblue;
    margin-top: 80px;
    border-radius: 15px;
}

.question{
    padding-top:20px;
    margin-left: 25px;
    margin-bottom: 30px;
    font-size:50px;
}

li{
    list-style: none;
    text-decoration: none;
}
label{
    font-size: 45px;
}
.answer{
    width: 150px;
    height: 20px;
    margin-left: 20px;
    padding-top: 10px;
    font-size: 20px;
    font-size:20px;
    width:140px;
    height:40px;
    cursor: pointer;
    border-radius: 15px;
    
}
.answer:hover{
    
    background-color:rgb(15, 175, 1);
    
}


#submit{
    margin:40px;
    margin-left: 430px;
    width: 120px;
    height: 60px;
    border-radius: 14px;
    background-color: aqua;
    font-size: 26px;
    cursor: pointer;
}

.score{
    border-radius: 8px;
    margin-left: 210px;
    margin-top: 3px;
}
.score button:hover{
    background-color:rgb(28, 180, 122);
}
#scoreArea{
    display: none;
}
h3{
    margin-left: 190px;
}
.btn{
    border-radius: 8px;
    margin-left: 200px;
    margin-top: 15px;
    width: 200px;
    height:60px; 
    background-color: yellow;

}



@media (max-width: 500px) {

    body{
        opacity: 0.8;
    }
    .header{
        padding-left: 30px;
    }
    .container{
        max-width: 320px;
        margin-left:15px;
        margin-top: 55px;
        width:600px;
    }
    .questions{
        width: 320px;
        height: 800px;
        font-size: 16px;
        padding:2px;
        margin-left: 1px;
        margin-bottom: 1px;
    }
    .answer{
        width: 80%;
        margin-left: 35px;
        margin-top: 1px;
        padding-top: 2px;
        width:100px;
        height: 25px;
        margin: 3px;
    }
    
    .score {
        border-radius: 8px;
        margin-top: 10px;
        margin-left: 17px;
        height:40px;
    }
   
    #scoreArea{
        display: none;

    }
    #submit{
        margin:40px;
        margin-left: 30px;
        width: 120px;
        height: 60px;
        border-radius: 14px;
        background-color: aqua;
        font-size: 26px;
        cursor: pointer;
    }
    h3{
        margin-left: 60px;
        font-size: 26px;
        margin-bottom: 5px;
    }
    .btn{
        border-radius: 8px;
        margin-left: 45px;
        margin-top: 5px;
        width: 200px;
        height:60px; 
        background-color: yellow;
        font-size: 26px;
    
    }
}